<!doctype html>
<html lang="en">
  <head>
    <title>CT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script src="/js/angular.min.js"></script>
    <script>
      var ctApp = angular.module('ctApp',[]);
      
      var controllers = {};
      
      
      controllers.RecordController = function($scope) {
        var user = 99;
        var trip = 88;
        var route = 77;
 
        
        $scope.crumbs = [];
        
        $scope.recordLocation = function() {
          console.log('recordLocation()');
          
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition( function(position) {
              console.log('position:' + position);
              
              
              var new_crumb = {
                lat: position.coords.latitude,
                long: position.coords.longitude,
                date: "now"
              };
              
              $scope.crumbs.push(new_crumb);
              
              console.log(JSON.parse(new_crumb.lat));
              $scope.$apply();
              
            })
          }
        }
      }
  
      ctApp.controller(controllers);
    </script>
  </head>
  <body data-ng-app="ctApp">
    <div class="container" ng-controller="RecordController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://c9.io" class="brand">Cloud9 IDE</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Commute Tracer</h1>
      </div>
      <div class="row">
        
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span2">Lat</th>
                <th class="span7">Long</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="crumb in crumbs">
                <td class="span2" ng-bind="crumb.lat"></td>
                <td class="span7" ng-bind="crumb.long"></td>
              </tr>
            </tbody>
          </table>
          
        </div>
        <button ng-click="recordLocation()">Record Location</button>
      </div>
    </div>
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
