<div>
    <h2>Create Catalog Entry</h2>
    <div>
        <form class="form-group">
            Description: <input type="text" class="form-control" ng-model="catalog_form.description" required>
            Type:
            <select class="form-control" ng-model="catalog_form.catalog_entry_type">
                <option ng-repeat="option in type_options" value="{{option}}">{{option}}</option>
            </select>
            Frequency:
            <select class="form-control" ng-model="catalog_form.frequency">
                <option ng-repeat="option in frequency_options" value="{{option}}">{{option}}</option>
            </select>

            <div ng-if="catalog_form.frequency=='monthly'">
                Day of Month:

                <input type="number" class="form-control"
                       ng-model="catalog_form.frequency_param" required>
            </div>
            Account:
            <select class="form-control" ng-model="catalog_form.account_object_id">
                <option ng-repeat="option in account_options" value="{{option._id}}">{{option.name}}</option>
            </select>

            <div ng-if="catalog_form.catalog_entry_type=='loan payment'">
                Paired Account (only with certain types):
                <select class="form-control"
                        ng-model="catalog_form.paired_account_object_id">
                    <option ng-repeat="option in account_options"
                            value="{{option._id}}">{{option.name}}</option>
                </select>
            </div>

            Amount:
            <input type="number" class="form-control"
                   ng-model="catalog_form.amount" required>

            <div ng-if="catalog_form.catalog_entry_type!='fixed'">
                Amount Calc: <input type="number" class="form-control" ng-model="catalog_form.amount_calc" step="0.001">
            </div>
            Start Date: <input type="date" class="form-control" ng-model="catalog_form.start_date" required>
            End Date: <input type="date" class="form-control" ng-model="catalog_form.end_date" required>

            <button ng-if="catalog_form.edit_mode==false" class="btn btn-primary" type="submit" ng-click="createCatalogEntry()">Create Catalog Entry<br />
            <button ng-if="catalog_form.edit_mode==true" class="btn btn-primary" type="submit" ng-click="updateCatalogEntry()">Update Catalog Entry<br />
        </form>
    </div>
    <h2>Catalog Entries:</h2>
    <code>entry count = {{catalogEntryCount}}</code>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>_id</th>
            
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Amount Calc</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in catalogEntries">
                <td>{{u._id}}</td>
                
                <td>{{u.description}}</td>
                <td>{{u.catalog_entry_type}}</td>
                <td>{{u.amount | currency }}</td>
                <td>{{u.amount_calc | number:3 }}</td>
                <td>{{u.start_date | date}}</td>
                <td>
                    <button class="btn btn-info" 
                    ng-click="editCatalog(u._id)">Edit</button>
                
                    <button class="btn btn-info"
                    ng-click="deleteCatalogEntry(u._id)">Delete
                    </button>
                </td>
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="getAllCatalogEntries()">Get Catalog</button>
    </div>
</div>

