<div>
    <h1>Forecast Summary</h1>
    <div ng-repeat="t in time_scales">
        <button class="btn btn-info" ng-click="setTheTimeScale(t.id)">{{t.description}}</button>
    </div>
    <div>
        Start Date: {{start_date | date}}  End Date: {{end_date | date}}
    </div>
<hc-chart style="width:1200px;height:800px" options="chartOptions">Placeholder for generic chart</hc-chart>
<net-hc-chart style="width:1200px;height:800px" options="chartOptions">Placeholder for Net Worth</net-hc-chart>

<button class="btn btn-primary" ng-click="drawLedger()">Draw Ledger Chart</button>

<h2>Cash Assets</h2>
<div class="container">
    <table class="table table-striped">
        <thead>
            <th>Account</th>
            <th ng-repeat="h in time_labels">
                {{h}}
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="a in cash_assets">
                <td>{{a.name}}</td>
                <td ng-repeat="d in a.data track by $index">{{d | currency}}</td>
            </tr>
        </tbody>
    </table>
    
</div>
</div>
