<div>
    <h1>Ledgers:</h1>
    <code>entry count = {{accounts.length}}</code>
    <form class="form-group">
        <select class="form-control" ng-model="current_account">
                <option ng-repeat="option in account_list" value="{{option._id}}">{{option.name}}</option>
            </select>
    </form>
    <!--<div ng-repeat="account in account_list">-->
    <!--    <h2>Account: {{account.name}} </h2>-->
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>JE ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in getLedger(current_account)">
                    <td>{{u.journal_entry_id}}</td>
                    <td>{{u.journal_entry_date | date}}</td>
                    <td>{{u.description}}</td>
                    <td>{{u.amount | currency }}</td>
                    <td>{{u.balance | currency }}</td>
                </tbody>
            </table>
        </div>
    <!--</div>-->
</div>
